<h2 mat-dialog-title>{{ 'http-error.title' | translate }}</h2>

@if (serverError) {
  <mat-dialog-content class="details-container">

    <p>{{ 'http-error.error-id' | translate }}: {{ data.errorId }}</p>
    <p>{{ 'http-error.time' | translate }}: {{ data.timestamp | localizedDate }}</p>

    <mat-divider></mat-divider>

    <h3>{{ 'http-error.error-list' | translate }}</h3>
    @for (error of data.errors; track error) {
      <p>{{ error.detail }}</p>
      <mat-divider></mat-divider>
    }

  </mat-dialog-content>
} @else if (clientError) {
  <mat-dialog-content class="details-container">

    @for (error of data.errors; track error) {
      <p>{{ error.detail }}</p>
      <mat-divider></mat-divider>
    }

  </mat-dialog-content>
} @else {
  <mat-dialog-content class="details-container">

    <p>{{ 'http-error.general-content' | translate }}</p>

  </mat-dialog-content>
}


<mat-dialog-actions align="end">
  <button mat-stroked-button
          [mat-dialog-close]="true"
          color="primary"
          [tabIndex]="-1">{{ 'common.close-button' | translate }}</button>
</mat-dialog-actions>

