.update-operator-form-container {
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  justify-content: center;
}

.update-operator-form-container form {
  display: flex;
  flex-direction: column;
  padding: 50px;
}

mat-form-field {
  width: 20em;
}

button {
  width: 30%;
  align-self: end;
}
