<div class="form-container mat-elevation-z3">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>{{ 'new-user.email-input-label' | translate }}</mat-label>
      <input matInput
             [formControl]="emailControl">
      @if (emailControl.invalid){
        <mat-error > {{ getValidationMessage('email', emailControl) }}</mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ 'new-user.first-name-input-label' | translate }}</mat-label>
      <input matInput
             [formControl]="firstNameControl">
      @if (firstNameControl.invalid){
        <mat-error>{{ getValidationMessage('firstName', firstNameControl) }}</mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ 'new-user.last-name-input-label' | translate }}</mat-label>
      <input matInput
             [formControl]="lastNameControl">
      @if (lastNameControl.invalid){
        <mat-error>{{ getValidationMessage('lastName', lastNameControl) }}</mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ 'new-user.role-input-label' | translate }}</mat-label>
      <mat-select [formControl]="roleControl">
        @for (role of roles; track role) {
          <mat-option [value]="role.value">{{ role.name }}</mat-option>
        }
      </mat-select>
      @if (roleControl.invalid){
        <mat-error>{{ getValidationMessage('role', roleControl) }}</mat-error>
      }
    </mat-form-field>
    <button mat-flat-button
            color="primary"
            [disabled]="!form.valid">{{ 'new-user.send-button-label' | translate }}</button>
  </form>
</div>
