<div class="mat-elevation-z3 flex justify-center">
  <form [formGroup]="form" class="grid py-20 px-56" style="grid-template-columns: 1fr 0">
    <div>
      <mat-form-field class="w-80">
        <mat-label>{{ 'change-account-password.old-password-input-label' | translate }}</mat-label>
        <input [type]="oldPasswordVisibility() ? 'text' : 'password'" matInput [formControl]="oldPasswordControl">
        <button
          mat-icon-button
          matSuffix
          (click)="oldPasswordVisibility.set(!oldPasswordVisibility())">
          <mat-icon [fontIcon]="oldPasswordVisibility() ? 'visibility' : 'visibility_off'"></mat-icon>
        </button>
        @if (oldPasswordControl.invalid) {
        <mat-error>{{ getValidationMessage('oldPassword', oldPasswordControl) }}</mat-error>
        }
      </mat-form-field>
    </div>
    <div></div>
    <div>
      <mat-form-field class="w-80 mt-3">
        <mat-label>{{ 'change-account-password.new-password-input-label' | translate }}</mat-label>
        <input [type]="newPasswordVisibility() ? 'text' : 'password'" matInput [formControl]="newPasswordControl">
        <button
          mat-icon-button
          matSuffix
          (click)="newPasswordVisibility.set(!newPasswordVisibility())">
          <mat-icon [fontIcon]="newPasswordVisibility() ? 'visibility' : 'visibility_off'"></mat-icon>
        </button>
        @if (newPasswordControl.invalid) {
        <mat-error>{{ getValidationMessage('newPassword', newPasswordControl) }}</mat-error>
        }
      </mat-form-field>
    </div>
    <div class="self-center">
      <mat-icon class="ml-3 h-min w-min text-3xl"
                color='primary'
                matTooltip="{{ 'change-account-password.password-tooltip' | translate }}"
                matTooltipClass="whitespace-pre-line max-w-none"
                fontIcon="info_outline">
      </mat-icon>
    </div>
    <div>
      <mat-form-field class="w-80 mt-3">
        <mat-label>{{ 'change-account-password.repeated-new-password-input-label' | translate }}</mat-label>
        <input [type]="repeatedNewPasswordVisibility() ? 'text' : 'password'" matInput [formControl]="repeatedNewPasswordControl">
        <button
          mat-icon-button
          matSuffix
          (click)="repeatedNewPasswordVisibility.set(!repeatedNewPasswordVisibility())">
          <mat-icon [fontIcon]="repeatedNewPasswordVisibility() ? 'visibility' : 'visibility_off'"></mat-icon>
        </button>
        @if (repeatedNewPasswordControl.invalid) {
        <mat-error>{{ getValidationMessage('repeatedNewPassword', repeatedNewPasswordControl) }}</mat-error>
        }
      </mat-form-field>
    </div>
    <div></div>
    <button class="w-1/4 justify-self-end mt-3"
            mat-flat-button
            color="primary"
            (click)="onSubmit()"
            [disabled]="form.invalid">{{ 'common.save-button' | translate }}
    </button>
  </form>
</div>
