<h2 mat-dialog-title>{{ 'update-program.title' | translate }}</h2>
<mat-dialog-content class="flex justify-center text-black/[.87]">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col p-5">
    <mat-form-field class="w-96">
      <mat-label>{{ 'update-program.name-input-label' | translate }}</mat-label>
      <textarea matInput [formControl]="nameControl"></textarea>
      @if (nameControl.invalid) {
        <mat-error>{{ getValidationMessage('name', nameControl) }}</mat-error>
      }
    </mat-form-field>
    <mat-form-field class="w-96">
      <mat-label>{{ 'update-program.operator-label' | translate }}</mat-label>
      <input type="text"
             matInput
             [formControl]="operatorControl"
             [matAutocomplete]="autocomplete">
      @if (operatorControl.invalid) {
        <mat-error>{{ getValidationMessage('name', operatorControl) }}</mat-error>
      }
      <mat-autocomplete #autocomplete="matAutocomplete" [displayWith]="displayOperatorName">
        @for (operator of filteredOperators(); track operator) {
          <mat-option [value]="operator">{{ operator.name }}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-flat-button
          color="primary"
          (click)="onSubmit()"
          [disabled]="form.invalid"
          class="self-end w-1/4">{{ 'common.save-button' | translate }}
  </button>
  <button mat-stroked-button
          [mat-dialog-close]="true"
          color="primary"
          [tabIndex]="-1"
          class="self-end w-1/4">{{ 'common.close-button' | translate }}
  </button>
</mat-dialog-actions>
