<div class="mat-elevation-z3">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="py-10 px-56">
    <div class="grid grid-cols-2 justify-items-center items-center gap-x-40 gap-y-4">
      <div class="w-full">
        <mat-form-field class="w-full">
          <mat-label>{{ 'new-service.number-input-label' | translate }}</mat-label>
          <input type="text" matInput [formControl]="numberControl">
          @if (numberControl.invalid) {
            <mat-error>{{ getValidationMessage('number', numberControl) }}</mat-error>
          }
        </mat-form-field>
      </div>
      <div>
        <mat-label class="block">{{ 'new-service.service-type-label' | translate }}</mat-label>
        <mat-radio-group [formControl]="typeControl" color="primary">
          @for (type of serviceTypes(); track type) {
            <mat-radio-button [value]="type.value">{{ type.name }}</mat-radio-button>
          }
        </mat-radio-group>
        @if (typeControl.invalid && typeControl.touched) {
          <mat-error>{{ getValidationMessage('type', typeControl) }}</mat-error>
        }
      </div>
      <div class="col-span-2 w-full">
        <mat-form-field class="w-full">
          <mat-label>{{ 'new-service.name-input-label' | translate }}</mat-label>
          <input type="text" matInput [formControl]="nameControl">
          @if (nameControl.invalid) {
            <mat-error>{{ getValidationMessage('name', nameControl) }}</mat-error>
          }
        </mat-form-field>
      </div>
      <div class="w-full">
        <mat-form-field class="w-full">
          <mat-label>{{ 'new-service.start-date-input-label' | translate }}</mat-label>
          <input type="text" matInput [matDatepicker]="startDatePicker" [formControl]="startDateControl">
          <mat-hint>DD-MM-YYYY</mat-hint>
          @if (startDateControl.invalid) {
            <mat-error>{{ getValidationMessage('start-date', startDateControl) }}</mat-error>
          }
          <mat-datepicker-toggle matIconSuffix [for]="startDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #startDatePicker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="w-full">
        <mat-form-field class="w-full">
          <mat-label>{{ 'new-service.end-date-input-label' | translate }}</mat-label>
          <input type="text" matInput [matDatepicker]="endDatePicker" [formControl]="endDateControl">
          <mat-hint>DD-MM-YYYY</mat-hint>
          @if (endDateControl.invalid) {
            <mat-error>{{ getValidationMessage('end-date', endDateControl) }}</mat-error>
          }
          <mat-datepicker-toggle matIconSuffix [for]="endDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #endDatePicker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="w-full">
        <mat-form-field class="w-full">
          <mat-label>{{ 'new-service.participants-input-label' | translate }}</mat-label>
          <input type="number" matInput [formControl]="numberOfParticipantsControl">
          @if (numberOfParticipantsControl.invalid) {
            <mat-error>{{ getValidationMessage('participants', numberOfParticipantsControl) }}</mat-error>
          }
        </mat-form-field>
      </div>
      <div class="w-full">
        <mat-form-field class="w-full">
          <mat-label>{{ 'new-service.service-providers-input-label' | translate }}</mat-label>
          <input type="text"
                 matInput
                 [formControl]="serviceProviderIdControl"
                 [matAutocomplete]="serviceProvidersAutocomplete"
                 (keyup)="onServiceProviderChange($event)">
          @if (serviceProviderIdControl.invalid) {
            <mat-error>{{ getValidationMessage('service-provider', serviceProviderIdControl) }}</mat-error>
          }
          <mat-autocomplete #serviceProvidersAutocomplete="matAutocomplete" [displayWith]="displayServiceProviderName">
            @for (serviceProvider of filteredServiceProviders(); track serviceProvider) {
              <mat-option [value]="serviceProvider">{{ serviceProvider.name }}</mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="w-full">
        <mat-form-field class="w-full">
          <mat-label>{{ 'new-service.programs-input-label' | translate }}</mat-label>
          <input type="text"
                 matInput
                 [formControl]="programIdControl"
                 [matAutocomplete]="programAutocomplete"
                 (keyup)="onProgramChange($event)">
          @if (programIdControl.invalid) {
            <mat-error>{{ getValidationMessage('program', programIdControl) }}</mat-error>
          }
          <mat-autocomplete #programAutocomplete="matAutocomplete"
                            [displayWith]="displayProgramName"
                            (optionSelected)="onProgramSelected($event)">
            @for (program of filteredPrograms(); track program) {
              <mat-option [value]="program">{{ program.name }}</mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="w-full">
        <mat-form-field class="w-full">
          <mat-label>{{ 'new-service.operators-input-label' | translate }}</mat-label>
          <input type="text"
                 matInput
                 [matAutocomplete]="operatorAutocomplete"
                 (keyup)="onOperatorChange($event)"
                 [disabled]="operatorInputDisabled()"
                 #operatorInput>
          <mat-autocomplete #operatorAutocomplete="matAutocomplete"
                            [displayWith]="displayOperatorName"
                            (optionSelected)="onOperatorSelected($event)">
            @for (operator of filteredOperators(); track operator) {
              <mat-option [value]="operator">{{ operator.name }}</mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="w-full">
        <mat-form-field class="w-full">
          <mat-label>{{ 'new-service.customers-input-label' | translate }}</mat-label>
          <input type="text"
                 matInput
                 [formControl]="customerIdControl"
                 [matAutocomplete]="customerAutocomplete"
                 (keyup)="onCustomerChange($event)">
          @if (customerIdControl.invalid) {
            <mat-error>{{ getValidationMessage('customer', customerIdControl) }}</mat-error>
          }
          <mat-autocomplete #customerAutocomplete="matAutocomplete"
                            [displayWith]="displayCustomerName"
                            (optionSelected)="onCustomerSelected($event)">
            @for (customer of filteredCustomers(); track customer) {
              <mat-option [value]="customer">{{ customer.name }}</mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="w-full">
        <mat-form-field class="w-full">
          <mat-label>{{ 'new-service.intermediaries-input-label' | translate }}</mat-label>
          <input type="text"
                 matInput
                 [formControl]="intermediaryIdControl"
                 [matAutocomplete]="intermediaryAutocomplete"
                 (keyup)="onIntermediaryChange($event)">
          @if (intermediaryIdControl.invalid) {
            <mat-error>{{ getValidationMessage('intermediary', intermediaryIdControl) }}</mat-error>
          }
          <mat-autocomplete #intermediaryAutocomplete="matAutocomplete"
                            [displayWith]="displayIntermediaryName"
                            (optionSelected)="onIntermediarySelected($event)">
            @for (intermediary of filteredIntermediaries(); track intermediary) {
              <mat-option [value]="intermediary">{{ intermediary.name }}</mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>
  </form>
</div>
