<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggler">
      <span class="navbar-brand">BUR-CRM</span>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <button type="button" class="btn btn-dark">
            <span class="bi bi-house"></span>
          </button> <!-- npm i bootstrap-icons -->
        </li>
        <li>
          <button type="button" class="btn btn-dark">Administracja</button>
        </li>
      </ul>
    </div>
  </div>
</nav>