<div class="w-full h-full flex justify-center items-center">
  <div class="mat-elevation-z8 w-min">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="flex flex-col items-center">
        <p>{{ 'login.title' | translate }}</p>
        <mat-form-field>
          <mat-label>{{ 'login.email-input-label' | translate }}</mat-label>
          <input matInput [formControl]="emailControl" type="email"/>
          @if (emailControl.invalid) {
            <mat-error> {{ getValidationMessage('email', emailControl) }}</mat-error>
          }
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{ 'login.password-input-label' | translate }}</mat-label>
          <input matInput [type]="passwordVisibility() ? 'text' : 'password'" [formControl]="passwordControl"/>
          <button
            mat-icon-button
            matSuffix
            (click)="passwordVisibility.set(!passwordVisibility())">
            <mat-icon>{{ passwordVisibility() ? 'visibility' : 'visibility_off' }}</mat-icon>
          </button>
          @if (passwordControl.invalid) {
            <mat-error> {{ getValidationMessage('password', passwordControl) }}</mat-error>
          }
        </mat-form-field>
      </div>
    </form>
  </div>
</div>
